body{
    font-family: 'Montserrat', sans-serif;
    padding: 6% 5%;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: #ffffff;
}
.container {
    padding: 0% 10%;
    margin: 5% 0%;
    width: 80%;
    margin-bottom: 100px;
}

/* Navigation start*/
nav{
    margin-top: auto;
    margin-bottom: auto;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    padding: 20px 10%;
    box-shadow: 0px 3px 15px #f3f3f3;
}
.logo{
    margin-right: auto;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    transition: all .5s ease 0s;
    color: #575757;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
    display: inline;
    text-align: center;
    align-items: center;
    
}

.nav_links  li a{
    transition: all .5s ease 0s;
    color: #000;
    font-weight: 500;
    margin-right: 20px;

    
}
.nav_links  li a:hover{
    color: #FD6539;
}
/* Navigation End */

.hero-area{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
}
.orange-color{
    color: #FD6539;
}
.half-width{
    width: 50%;
}
.hero-img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 49px;
    color: #575757;
}

p {
    margin-bottom: 50px;
    line-height: 25px;
}

a.button {
    text-decoration: none;
    padding: 15px 31px;
    background: linear-gradient(57deg, orange, #FE4E30);
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
  
}

/* About me section */
.about-me{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}

.about-img{
    width: 80%;
    padding-top: 20%;
}
#about-me{
    margin-bottom: 0px;

}

/* My resipies heading */
.my-recipies-heading{
    text-align: center;
    width: 50%;
    margin: auto;    
}

.my-recipies{
    background: #f7f7f7;
    padding: 5% 10%; 
    margin-bottom: 0;

}

.box-recipies{
    width: 100%;
    display: flex;
}
.blog {
    width: 33.33%;
    margin-right: 120px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0px 14px 10px #e8e8e8
}

.blog img {
    width: 100%;
}
#my-recipies{
 margin-top: 0px;
}

/* contact section */

#contact {
    display: flex;
    padding: 5% 10%;
}

.input-field {
    width: 100%;
    margin-top: 15px;
    border-radius: 19px;
    padding: 12px;
    outline: none;
    border: 1px solid #777;
}
.textarea{
    height: 150px;
    margin-bottom: 30px;
}
.cAddress{
    line-height: 5px;
}

.half-width.c_Address {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}
.contat_title{
    text-align: center;
}

/* Footer styling */
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 1% 0 1% 0;
}
footer h2{
    color: #fff;
    text-transform:uppercase;
    font-weight: 600;

}

footer h2 span{
    color: #FD6539;
}

footer p {
    color: #fff;
}